@page "/Pesquisa"

<PageTitle>Pesquisa de Cursos</PageTitle>

<MudItem xs="12" md="8" class="items-left">
    <h1>
        <MudIcon Icon="@Icons.Material.Outlined.FindInPage" />
        Pesquise pela sua Pontuação!
    </h1>

    <p class="font-normal text-left ml-8">
        <i>Pesquise os cursos pela sua pontuação!</i>
    </p>
</MudItem>

<MudTable Items="filteredRows" Hover="hover" Striped="striped" FixedHeader="@fixedheader">

    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Utilize o campo de pesquisa
            <MudIcon Icon="@Icons.Material.Outlined.Search"></MudIcon>
        </MudText>

        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Digite seus pontos" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                      Style="width: 100%; max-width: 200px; margin-left: auto; margin-right: 0;"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh Style="background-color: #007a70; color: white;">Ordem</MudTh>
        <MudTh Style="background-color: #007a70; color: white;">Curso</MudTh>
        <MudTh Style="background-color: #007a70; color: white;">Turno</MudTh>
        <MudTh Style="background-color: #007a70; color: white;">Universidade</MudTh>
        <MudTh Style="background-color: #007a70; color: white;">Local</MudTh>
        <MudTh Style="background-color: #007a70; color: white;">Nota de Corte</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Ordem">@context.Split()[0]</MudTd>
        <MudTd DataLabel="Curso">@context.Split()[1]</MudTd>
        <MudTd DataLabel="Turno">@context.Split()[2]</MudTd>
        <MudTd DataLabel="Universidade">@context.Split()[3]</MudTd>
        <MudTd DataLabel="Local">@context.Split()[4]</MudTd>
        <MudTd DataLabel="Nota de Corte">@context.Split()[5]</MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private string searchString1 = "";

    private bool hover = true;

    private bool striped = true;

    private bool fixedheader = true;

    private string[] rows = {
        @"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",
        @"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",@"1 Direito Manhã UFS Aracaju 500 ",
        @"2 Medicina Tarde UFS Lagarto 400 ",
        @"3 Jornalismo Noite UFS Itabaiana 500 ",
        @"4 Enfermagem Tarde UFS Socorro 200 ",
        @"5 Enfermagem Noite UFS Socorro 100 ",
        @"6 Design Manhã UFS Socorro 800 ",
    };

    private IEnumerable<string> filteredRows => FilterFunc();

    private IEnumerable<string> FilterFunc()
    {
        if (string.IsNullOrWhiteSpace(searchString1))
            return Enumerable.Empty<string>();

        var lowerSearchString = searchString1.ToLower();
        return rows.Where(x => x.ToLower().Contains(lowerSearchString));
    }
}
