@page "/Pesquisa"

<PageTitle>Pesquisa de Cursos</PageTitle>

<MudItem xs="12" md="8" class="items-left">
    <h1>
        <MudIcon Icon="@Icons.Material.Outlined.FindInPage" />
        Pesquise pela sua Pontuação!
    </h1>

    <p class="font-normal text-left ml-8">
        <i>Pesquise os cursos pela sua pontuação!</i>
    </p>
</MudItem>


<br>
<br>

<MudText Typo="Typo.h5" Class="mb-4">
    <MudIcon Icon="@Icons.Material.Outlined.LocationSearching" Class="mr-2" />
            Pesquisar por Pontos
        </MudText>

<br />

<MudFocusTrap>
    <MudTextField @bind-Value="searchString" Variant="Variant.Text" Placeholder="Digite seus Pontos"
                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Search" 
                  IconSize="Size.Medium"
                  Style="width: 100%; max-width: 200px; margin-left: 0; margin-right: auto;" />
</MudFocusTrap>

@if (filteredRows.Any())
{
    <MudSelect T="string" @bind-Value="selectedCurso" Label="Curso" Disabled="!filteredRows.Any()">
        @foreach (var curso in distinctCursos)
        {
            <MudSelectItem Value="@curso">@curso</MudSelectItem>
        }
    </MudSelect>

    <MudSelect T="string" @bind-Value="selectedTurno" Label="Turno" Disabled="!filteredRows.Any()">
        @foreach (var turno in distinctTurnos)
        {
            <MudSelectItem Value="@turno">@turno</MudSelectItem>
        }
    </MudSelect>

    <MudField T="string" @bind-Value="selectedUniversidade" Label="Universidade" Disabled="!filteredRows.Any()">
        @foreach (var universidade in distinctUniversidades)
        {
            <MudSelectItem Value="@universidade">@universidade</MudSelectItem>
        }
    </MudField>

    <MudField T="string" @bind-Value="selectedLocal" Label="Local" Disabled="!filteredRows.Any()">
        @foreach (var local in distinctLocais)
        {
            <MudSelectItem Value="@local">@local</MudSelectItem>
        }
    </MudField>
}
else
{
    // Renderize campos desativados aqui, se necessário
    <MudSelect T="string" @bind-Value="selectedCurso" Label="Curso" Disabled="true">
        <!-- Campos desativados -->
    </MudSelect>

    <MudSelect T="string" @bind-Value="selectedTurno" Label="Turno" Disabled="true">
        <!-- Campos desativados -->
    </MudSelect>

    <MudField T="string" @bind-Value="selectedUniversidade" Label="Universidade" Disabled="true">
        <!-- Campos desativados -->
    </MudField>

    <MudField T="string" @bind-Value="selectedLocal" Label="Local" Disabled="true">
        <!-- Campos desativados -->
    </MudField>
}

<br /><br />

<MudText Typo="Typo.h5" Class="mb-4">
    <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Class="mr-2" />
    Localização
</MudText>

<MudCard class="max-w-md w-10 rounded-lg shadow-lg" Outlined="true">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d14216.66766192764!2d-37.11080792839875!3d-10.923455642986067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x71ab2423713aed3%3A0xdc26874c8378592c!2zUm9zYSBFbHplLCBTw6NvIENyaXN0w7N2w6NvIC0gU0UsIDQ5MTAwLTAwMA!3m2!1d-10.9263351!2d-37.103066399999996!5e0!3m2!1spt-BR!2sbr!4v1725316551912!5m2!1spt-BR!2sbr"
            style="height: 300px; width: auto" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</MudCard>


@code {

    private string searchString = "";
    private string selectedCurso;
    private string selectedTurno;
    private string selectedUniversidade;
    private string selectedLocal;

    private IEnumerable<string> filteredRows => FilterFunc();

    private IEnumerable<string> distinctCursos => filteredRows.Select(x => x.Split()[1]).Distinct();
    private IEnumerable<string> distinctTurnos => filteredRows.Select(x => x.Split()[2]).Distinct();
    private IEnumerable<string> distinctUniversidades => filteredRows.Select(x => x.Split()[3]).Distinct();
    private IEnumerable<string> distinctLocais => filteredRows.Select(x => x.Split()[4]).Distinct();

    private string[] rows = {
    // Lista de itens conforme sua necessidade
    @"1 Direito Manhã UFS Aracaju 500 Manhã",
    @"1 Direito Tarde UFS Aracaju 500 Tarde",
    @"1 Direito Noite UFS Aracaju 500 Noite",
    @"2 Medicina Manhã UFS Lagarto 400 Manhã",
    @"2 Medicina Tarde UFS Lagarto 400 Tarde",
    @"2 Medicina Noite UFS Lagarto 400 Noite",
    @"3 Jornalismo Manhã UFS Itabaiana 500 Manhã",
    @"3 Jornalismo Tarde UFS Itabaiana 500 Tarde",
    @"3 Jornalismo Noite UFS Itabaiana 500 Noite",
    @"4 Enfermagem Manhã UFS Socorro 200 Manhã",
    @"4 Enfermagem Tarde UFS Socorro 200 Tarde",
    @"4 Enfermagem Noite UFS Socorro 200 Noite",
    @"5 Enfermagem Manhã UFS Socorro 100 Manhã",
    @"5 Enfermagem Tarde UFS Socorro 100 Tarde",
    @"5 Enfermagem Noite UFS Socorro 100 Noite",
    @"6 Design Manhã UFS Socorro 800 Manhã",
    @"6 Design Tarde UFS Socorro 800 Tarde",
    @"6 Design Noite UFS Socorro 800 Noite",
    
    };

    private IEnumerable<string> FilterFunc()
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return Enumerable.Empty<string>();

        var lowerSearchString = searchString.ToLower();
        return rows.Where(x => x.ToLower().Contains(lowerSearchString));
    }


}

