@page "/Sobre"

<PageTitle>Sobre</PageTitle>
@using MudBlazor

@page "/expansion"


<div>
    <MudItem xs="12" md="8" class="items-left">
        <h1 class="flex items-left">
            <MudIcon Icon="@Icons.Material.Outlined.Info" />
            Sobre ENEMScore!
        </h1>
    </MudItem>

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Expanded="@allPanelsExpanded" Text="O ENEMScore">
            O ENEMScore é uma inovadora aplicação desenvolvida para ajudar os estudantes a avaliar suas pontuações no Exame Nacional do Ensino Médio (ENEM) e identificar os cursos universitários mais adequados com base em seus resultados.<br>
            Com uma interface intuitiva e fácil de usar, o ENEMScore permite aos usuários verificar sua média de pontuação e buscar informações detalhadas sobre as melhores opções de cursos que correspondem ao seu desempenho.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Funcionalidades">
            Avaliação de Pontuação: Insira suas notas do ENEM e obtenha uma análise detalhada de seu desempenho.<br>
            Busca de Cursos: Descubra quais cursos são ideais para a sua pontuação e explore detalhes sobre cada opção.<br>
            Interface Amigável: Navegue facilmente por uma interface moderna e responsiva, projetada para tornar a experiência do usuário o mais agradável possível.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Desenvolvedores">
            O ENEMScore é um projeto do grupo do 4° período de ADS da UNINASSAU. <br>A equipe de desenvolvimento é composta por:<br><br>
            Anderson Fernandes - 16025285<br>
            Klaudio Eduardo – 16025224<br>
            Lucas Silva - 16025215<br>
            Miguel Conceição - 16030084<br>
            Islaynne Souza - 16029870
            <br><br>            
            Com o uso de tecnologias de ponta como Blazor e Tailwind CSS, os desenvolvedores garantem que o ENEMScore não só ofereça um desempenho robusto, mas também uma experiência visual agradável e moderna.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Visão">
            Nosso objetivo é continuar aprimorando o ENEMScore com novas funcionalidades e atualizações, mantendo a aplicação alinhada às necessidades dos estudantes e às mudanças no exame.<br>
            Acreditamos que o ENEMScore será uma ferramenta indispensável para aqueles que buscam entender melhor seu desempenho e tomar decisões informadas sobre seu futuro acadêmico.<br>
            Para mais informações e atualizações sobre o ENEMScore, acompanhe nossas redes sociais e visite nosso site oficial.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Suporte" Expanded="@allPanelsExpanded">
            <p>
                Nosso objetivo é continuar aprimorando o ENEMScore com novas funcionalidades e atualizações, mantendo a aplicação alinhada às necessidades dos estudantes e às mudanças no exame.<br>
                Acreditamos que o ENEMScore será uma ferramenta indispensável para aqueles que buscam entender melhor seu desempenho e tomar decisões informadas sobre seu futuro acadêmico.<br><br>
                Para mais informações e atualizações sobre o ENEMScore, acompanhe nossas redes sociais e visite nosso site oficial.<br><br>
                *Caso queira nos enviar elogios, sugestões ou críticas, por favor, preencha o formulário abaixo.*
            </p>

            <MudForm Style="width: 850px;" @ref="_form">
                <MudTextField T="string" Label="Nome" Required="true" RequiredError="Por favor, insira seu nome." @bind-Value="_nome" />
                <MudTextField T="string" Label="E-mail" Required="true" RequiredError="Por favor, insira um e-mail válido." @bind-Value="_email" /><br />
                <MudTextField T="string" Label="Mensagem" Placeholder="Deixe seu elogio, sugestão ou crítica" InputType="InputType.Text" Variant="Variant.Outlined" Lines="3" Required="true" RequiredError="A mensagem não pode estar vazia." Style="height: 80px;" @bind-Value="_mensagem" /><br />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="width: 50px; height: 30px;" OnClick="SubmitForm">Enviar</MudButton>
            </MudForm>            
        </MudExpansionPanel> 
    </MudExpansionPanels>
</div>

<MudPopover Open="@_isPopoverOpen" CloseOnClickAway="true" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter" Class="px-4 pt-4">
    <div class="flex items-center mb-4">       
        <MudText Typo="Typo.h4" Class="font-bold"><MudIcon Icon="@Icons.Material.Filled.ThumbUp" /> Obrigado pelo seu feedback!</MudText>
    </div>
    <MudText Class="mb-2">
        Sua mensagem foi enviada com sucesso para nossa equipe!
    </MudText>
    <MudText Class="mb-4">
        <i>Agradecemos por contribuir para o aprimoramento do ENEMScore.</i>
    </MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClosePopover" Class="ml-auto mr-n3 mb-1">
        Fechar
    </MudButton>
</MudPopover>

@code {
    private bool allPanelsExpanded = true;
    private MudForm _form;
    private string _nome;
    private string _email;
    private string _mensagem;
    private bool _isPopoverOpen = false;

    private async Task SubmitForm()
    {
        await _form.Validate();
        if (_form.IsValid)
        {
            // Aqui você pode processar a lógica de envio da mensagem (ex.: salvar no banco de dados ou enviar por e-mail)

            // Exibir o popover de confirmação
            _isPopoverOpen = true;
        }
    }

    private void ClosePopover()
    {
        _isPopoverOpen = false;
    }


}






