<MudNavMenu Style="display: flex; flex-direction: column; height: 100vh;">

    <MudNavLink Href="/" Match="NavLinkMatch.All"></MudNavLink>

    <MudNavLink Href="/" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Home" Color="Color.Default">INÍCIO</MudNavLink><br>
    

    <MudNavGroup Icon="@Icons.Material.Filled.Article" Title="Cursos e Pontuações" Expanded="true">
        <MudMenuItem Href="Cursos" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Aracaju</MudMenuItem>
        <MudMenuItem Href="Cursos" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Itabaiana</MudMenuItem>
        <MudMenuItem Href="Cursos" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Nsa Sra. Glória</MudMenuItem>
        <MudMenuItem Href="Cursos" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Laranjeiras</MudMenuItem>
        <MudMenuItem Href="Cursos" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Lagarto</MudMenuItem>
    </MudNavGroup>
    <br>

    <MudNavGroup Icon="@Icons.Material.Filled.FindInPage" Title="Pela Sua Pontuação" Expanded="false">
        <MudMenuItem Href="Pesquisa" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Aracaju</MudMenuItem>
        <MudMenuItem Href="Pesquisa" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Itabaiana</MudMenuItem>
        <MudMenuItem Href="Pesquisa" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Nsa Sra. Glória</MudMenuItem>
        <MudMenuItem Href="Pesquisa" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Laranjeiras</MudMenuItem>
        <MudMenuItem Href="Pesquisa" Icon="@Icons.Material.Filled.ArrowRight" >Universidade Federal Lagarto</MudMenuItem>
    </MudNavGroup>
    <br>

    <MudNavGroup Icon="@Icons.Material.Filled.TextSnippet" Title="Teste sua Redação" Expanded="true">
        <MudMenuItem Href="Redacao" Icon="@Icons.Material.Filled.ArrowRight">Acesse o Editor</MudMenuItem>
    </MudNavGroup>
    <br>

    <MudNavLink Href="Sobre" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info" Color="Color.Default">SOBRE ENEMScore</MudNavLink>
    <br>    
   

    <div Style="margin-top: auto; padding: 1rem; text-align: center;">
        <MudText Color="Color.Default">ENEMScore Copyright 2024</MudText>
    </div>

</MudNavMenu>









