@inject NavigationManager NavigationManager


<!-- Folha de Estilos -->

<!-- NAV MENU -->

<MudNavMenu Style="display: flex; flex-direction: column; height: 100vh;">

    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">INÍCIO</MudNavLink><br>

    <MudNavGroup Icon="@Icons.Material.Filled.Article" Title="Cursos e Pontuações" Expanded="false">
        <MudNavLink Href="/CursosUfs" Icon="@Icons.Material.Outlined.Label" Expanded="false">Universidade Federal</MudNavLink>
        <MudNavLink Href="/CursosIfs" Icon="@Icons.Material.Outlined.Label" Expanded="false">Instituto Federal</MudNavLink>
    </MudNavGroup>
    <br>
    
    <MudNavGroup Icon="@Icons.Material.Rounded.Search" Title="Pesquisa de Pontos" Expanded="false">
        <MudNavLink Href="/PesquisaUfs" Icon="@Icons.Material.Outlined.Label" Expanded="false">Universidade Federal</MudNavLink>
        <MudNavLink Href="/Pesquisaifs" Icon="@Icons.Material.Outlined.Label" Expanded="false">Instituto Federal</MudNavLink>        
    </MudNavGroup>
    <br>
   
    <MudNavGroup Icon="@Icons.Material.Filled.TextSnippet" Title="Teste sua Redação" Expanded="false">
        <MudMenuItem Href="Redacao" Icon="@Icons.Material.Filled.ArrowRight">Acesse o Editor</MudMenuItem>
    </MudNavGroup>
    <br>
   
    <MudNavLink Href="Sobre" Icon="@Icons.Material.Filled.Info" Color="Color.Default">SOBRE ENEMScore</MudNavLink>
    <br>
   
    <div Style="margin-top: auto; padding: 1rem; text-align: center;">
        <MudText Color="Color.Default">Avalie-nos!</MudText>
        <div class="icon-container">
            <MudTooltip Text="Não gostei">
                <MudIconButton Icon="@Icons.Material.Outlined.SentimentDissatisfied" Color="Color.Error" OnClick="() => OpenPopover(1)" Size="Size.Large" />
            </MudTooltip>
            <MudTooltip Text="Razoável">
                <MudIconButton Icon="@Icons.Material.Outlined.SentimentNeutral" Color="Color.Warning" OnClick="() => OpenPopover(2)" Size="Size.Large"/>
            </MudTooltip>
            <MudTooltip Text="Gostei">
                <MudIconButton Icon="@Icons.Material.Outlined.SentimentSatisfied" Color="Color.Success" OnClick="() => OpenPopover(3)" Size="Size.Large" />
            </MudTooltip>
        </div>
        <br />
        <MudText Color="Color.Default">ENEMScore Copyright 2024</MudText>
    </div>

</MudNavMenu>


<!--AVALIE POPUP -->

<MudOverlay @bind-Visible="popover1Open" OnClick="() => ClosePopover(1)" />
<MudPopover AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.TopLeft" Open="@popover1Open" Style="margin-left: 5px; height: 400px; width: 300px;">
    <MudGrid>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudText>
                <h3>Queremos saber mais sobre o que não gostou da aplicação.</h3>
            </MudText>
        </MudItem>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudIcon Icon="@Icons.Material.Outlined.SentimentDissatisfied" Style="font-size: 100px;"></MudIcon>
        </MudItem>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudText>
                Por favor, entre em contato com o suporte.
            </MudText>
        </MudItem>
        <MudItem xs="12" Style="display: flex; justify-content: center;">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="OpenSupport" Style="margin-right: 8px;">Suporte</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => ClosePopover(1)">Fechar</MudButton>
        </MudItem>
    </MudGrid>
</MudPopover>

<MudOverlay @bind-Visible="popover2Open" OnClick="() => ClosePopover(2)" />
<MudPopover AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.TopLeft" Open="@popover2Open" Style="margin-left: 5px; height: 400px; width: 300px;">
    <MudGrid>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudText>
                <h3>Agradecemos seu feedback! <br />No que podemos melhorar? </h3>
            </MudText>
        </MudItem>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudIcon Icon="@Icons.Material.Outlined.SentimentNeutral" Style="font-size: 100px;"></MudIcon>
        </MudItem>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudText>
                Entre em contato com o suporte se precisar de ajuda.
            </MudText>
        </MudItem>
        <MudItem xs="12" Style="display: flex; justify-content: center;">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" OnClick="OpenSupport" Style="margin-right: 8px;">Suporte</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => ClosePopover(2)">Fechar</MudButton>
        </MudItem>
    </MudGrid>
</MudPopover>

<MudOverlay @bind-Visible="popover3Open" OnClick="() => ClosePopover(3)" />
<MudPopover AnchorOrigin="Origin.CenterRight" TransformOrigin="Origin.TopLeft" Open="@popover3Open"  Style="margin-left: 5px; height: 400px; width: 300px;">
    <MudGrid>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudText>
                <h3>Agradecemos por sua avaliação positiva! <br />Se precisar de ajuda, entre em contato com o suporte.</h3>
            </MudText>
        </MudItem>
        <MudItem xs="12" Style="text-align: center; margin-bottom: 16px;">
            <MudIcon Icon="@Icons.Material.Outlined.SentimentSatisfied" Style="font-size: 100px;"></MudIcon>
        </MudItem>
        <MudItem xs="12" Style="display: flex; justify-content: center;">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => ClosePopover(3)">Fechar</MudButton>
        </MudItem>
    </MudGrid>
</MudPopover>

<!-- CODE C# -->

@code {
    private bool popover1Open;
    private bool popover2Open;
    private bool popover3Open;   

    private void OpenPopover(int popoverNumber)
    {
       
        popover1Open = popoverNumber == 1;
        popover2Open = popoverNumber == 2;
        popover3Open = popoverNumber == 3;
        
    }

    private void ClosePopover(int popoverNumber)
    {
        if (popoverNumber == 1) popover1Open = false;
        if (popoverNumber == 2) popover2Open = false;
        if (popoverNumber == 3) popover3Open = false;
    }

    private void OpenSupport()
    {
        NavigationManager.NavigateTo("/sobre");
        popover1Open = false;
        popover2Open = false;
       
    }

   
}
